.home-me{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-exp{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: left;
    
}