.Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    width: 100vw;
    height: 10vh;
    animation: top-to-bottom 2s;
    .navApp{
        font-size: 17px;
    }
    
    h1{
        width: 30%;
        text-align: center;
    }
    
    nav{
        width: 30%;

        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            margin: 0;  
            padding: 0;
    
            a{
                margin: 30px;
                color: white;
                text-decoration: none;
                font-weight: bold; 
                &:hover{
                    color: rgb(148, 148, 148);
                }
    
            }
            
        }
    }
   
}

@keyframes top-to-bottom {
    0%{
        transform: translateY(-11vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}