.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
    background-color: rgb(48, 48, 48);
    padding: 10px 40px;  
    align-items: flex-start;
}

.right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left{
    width: 100%;
}

img{
    width:100%;
}

@media screen and (max-width: 769px){

}
@media screen and (min-width: 769px){

    
}

@media screen and (min-width: 1800px){

}