.project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 40px;
    background-color: rgb(48, 48, 48);
    padding: 10px 40px;  
    align-items: center;
}

.right{
    display: flex;
    flex-direction: column;
    width: 40em;
}

.left{
    width: 50%;
}

img{
    width:100%;
}

@media screen and (max-width: 769px){

}
@media screen and (min-width: 769px){

    
}

@media screen and (min-width: 1800px){

}