.home{
    display: flex;
    flex-direction: column;
    margin: 5vw 0 5vw 0vw;
}

.home-left {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;

    animation: left-to-right 2s 1s backwards;

    h1{
        font-family: adobe-garamond-pro, serif;
        font-weight: 800;
        font-style: italic;
    }
}

@keyframes left-to-right {
    0%{
        transform: translateX(-11vh);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}